<!-- Page Heading -->
<link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<h1 class="h3 mb-2 text-gray-800">RISORSE ECONOMICHE</h1>
<p class="mb-4">Impostazione delle Risorse Economiche.</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Elenco</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Codice</th>
                        <th>Descrizione</th>                        
                        <th></th>
                        <th></th>                    
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Codice</th>
                        <th>Descrizione</th>                       
                        <th></th>
                        <th></th>                 
                    </tr>
                </tfoot>
                <tbody>
                      
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>